*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.wrapper {
   width: 100%;
}

b {
    color: #7ae3db;
    font-size: 20px;
}


h1 {
    
    text-transform: uppercase;
    text-align: center;
}

mark {
    background-color: rgb(171, 234, 236);
}

.btn {
    
}

.btn:hover {
    cursor: pointer;
    background-color: #71f6eb;
}
.photo-grid img:hover {
    opacity: 0.25;
}
